
<!Doctype HTML>
<html>
<head>
	<title>Sudoku Solver</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
</head>

<body>
	<h1>Sudoku Solver</h1>
	<div id="vapp">
		<table class="internalTable">
			<tr v-for="i in 9">
				<td v-for="j in 9">
					<input type="number" v-zero-to-nine v-model="sudoku[(i - 1)][(j - 1)]" onFocus="this.select()">

				</td>
			</tr>
		</table>
		<button @click="solve">Get Result</button>
		<button @click="reset">Reset</button>
		<h2 v-show="isSudokuInvalid" style="color:red">Invalid Sudoku</h2>
	</div>
	<script>
		new Vue({
			el: '#vapp',
			data: {
				sudoku: [],
				isSudokuInvalid: false
			},
			created: function() {
				this.reset();
			},
			methods: {
				reset() {
					this.sudoku = [
						[],
						[],
						[],
						[],
						[],
						[],
						[],
						[],
						[]
					];
					this.isSudokuInvalid = false;
				},
				solve() {
					this.isSudokuInvalid = false;
					for (let i = 0; i < 9; i++) {
						for (let j = 0; j < 9; j++) {
							if (this.sudoku[i][j] == undefined) {
								this.sudoku[i][j] = '';
							}
						}
					}
					if (!this.isSudokuValid(this.sudoku)) {
						this.isSudokuInvalid = true;
					} else {
						this.getResult();
					}
				},
				async getResult() {
					for (let row = 0; row < 9; row++) {
						for (let column = 0; column < 9; column++) {
							if (row == 1 && column == 6) {
								console.log("hey");
							}
							if (this.sudoku[row][column]) {
								continue;
							}
							let possibleValuesList = this.getPossibleValues(row, column, this.sudoku);
							let length = this.getLength(possibleValuesList);
							if (length == 0) {
								return null;
							} else {
								for (let possibleValue of possibleValuesList) {
									let originalBoardCopy =  JSON.parse(JSON.stringify(this.sudoku));
									this.sudoku[row][column] = possibleValue;
									this.sudoku = this.deepCopy(this.sudoku);
									await this.delay(25);
									let result = await this.getResult();
									if (result != null) {
										return result;
									} else {
										this.sudoku = originalBoardCopy;
										this.sudoku = this.deepCopy(this.sudoku);
									}
								}
							}
							return null;
						}
					}
					return this.sudoku;
				},
				deepCopy(ele) {
					return JSON.parse(JSON.stringify(ele));
				},
				getPossibleValues(row, column, board) {
					let canNotBeAdded = new Set();
					let i, j;
					for (i = 0; i < 9; i++) {
						if (board[row][i]) {
							canNotBeAdded.add(board[row][i]);
						}
					}

					// Get already filled vertical elements
					for (i = 0; i < 9; i++) {
						if (board[i][column]) {
							canNotBeAdded.add(board[i][column]);
						}
					}
					// Get all elements which are in the same box
					// as the point/number [row, column]
					let boxRowStart = row - row % 3,
						boxColumnStart = column - column % 3;
					for (i = boxRowStart; i < boxRowStart + 3; i++) {
						for (j = boxColumnStart; j < boxColumnStart + 3; j++) {
							if (board[i][j]) {
								canNotBeAdded.add(board[i][j]);
							}
						}
					}
					let canBeAdded = new Set();
					for (i = 1; i <= 9; i++) {
						canBeAdded.add(i);
					}
					return this.difference(canBeAdded, canNotBeAdded);
				},
				difference(a1, a2) {
					let newarr = [];
					for (let i of a1) {
						let detected = false;
						for (let j of a2) {
							if (i == j) {
								detected = true;
							}
						}
						if (!detected) {
							newarr.push(i);
						}
					}
					return newarr.sort();
				},
				getLength(arr) {
					if (arr == undefined || arr == null) {
						return 0;
					}
					let count = 0;
					for (let obj of arr) {
						count++;
					}
					return count;
				},
				isSudokuValid(sudoku) {
					for (let i = 0; i < 9; i++) {
						for (let j = 0; j < 9; j++) {
							let num = sudoku[i][j];
							if (!num || num == 0) {
								continue;
							}
							let k, l;
							for (k = j + 1; k < 9; k++) {
								if (!sudoku[i][k]) {
									continue;
								}
								if (num == sudoku[i][k]) {
									return false;
								}
							}
							for (k = i + 1; k < 9; k++) {
								if (!sudoku[i][k]) {
									continue;
								}
								if (num == sudoku[k][j]) {
									return false;
								}
							}
							let t1 = parseInt(Math.floor(i / 3)) * 3;
							let t2 = parseInt(Math.floor(j / 3)) * 3;
							for (k = t1; k < t1 + 3; k++) {
								for (l = t2; l < t2 + 3; l++) {
									if (i != k && j != l && num == sudoku[k][l]) {
										return false;
									}
								}

							}
						}
					}
					return true;
				},
				delay(n) {
					n = n || 2000;
					return new Promise(done => {
						setTimeout(() => {
							done();
						}, n);
					});
				}
			}
		});
		Vue.directive('zeroToNine', {
			update: function(el, binding, vnode) {
				if (el.value == undefined || el.value == '') {
					return;
				} else if (!el.value.match(/^\d+$/)) {
					if (binding.oldValue != undefined) {
						binding.value = binding.oldValue;
						el.value = binding.oldValue;
					} else {
						el.value = '';
						binding.value = undefined;
					}
				} else if (el.value > 9) {
					binding.value = Number(el.value) % 10;
					el.value = binding.value;
				}
			}
		});
	</script>
</body>

<style>
	body,
	#vapp {
		margin: 0 auto;
		width: 100%;
		text-align: center;
	}
	
	.internalTable {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	
	.internalTable input {
		width: 25px;
		font-size: 20px;
		text-align: center;
	}
	
	.internalTable td,
	.internalTable th {
		padding: 0px !important;
	}
	
	.internalTable tr:nth-child(3n) {
		border-bottom: 2px solid #222;
	}
	
	.internalTable tr:nth-child(3n - 2) {
		border-top: 2px solid #222;
	}
	
	.internalTable td:nth-child(3n) {
		border-right: 2px solid #222;
	}
	
	.internalTable td:nth-child(3n - 2) {
		border-left: 2px solid #222;
	}
	
	input[type=number]::-webkit-outer-spin-button,
	input[type=number]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	
	input[type=number] {
		-moz-appearance: textfield;
	}
</style>

</html>

